/**
* styles.scss
* ---
* Main `sass` file. Import here `sass` files
*/
/*@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";


@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";*/
/** VARIABLES **/
/*******************************************************/
/** MIXINS **/
/*******************************************************/
/** GRID LAYOUT **/
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  display: inline-block; }

.span1 {
  width: calc(100%/12);
  width: 8%; }

.span2 {
  width: calc(100%/6);
  width: 20%; }

.span3 {
  width: calc(100%/4);
  width: 25%; }

.span4 {
  width: calc(100%/3);
  width: 33%; }

.span5 {
  width: 41%; }

.span6 {
  width: calc(100%/2);
  width: 49.5%; }

.span7 {
  width: 58%; }

.span8 {
  width: 66%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83%; }

.span11 {
  width: 91%; }

.span12 {
  width: 100%; }

/*******************************************************/
/** BASE WEBSITE **/
html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
  overflow-y: scroll; }

body {
  margin: 0 0 100px;
  background: #d1d1d1; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  background-image: url("./images/broken-noise.png");
  color: white;
  font-size: 1.3em; }

a {
  text-decoration: none; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

img {
  max-width: 100%;
  height: auto; }

/*******************************************************/
/** REUSABLE COMPS **/
.middle {
  margin: 0 auto;
  display: block; }

.none {
  display: none; }

.vertical-txt, .hero p {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.ghost-button, a.ghost-btn {
  color: white;
  border: 3px solid white;
  padding: 10px 15px;
  font-size: 2.5rem; }

/*******************************************************/
/** HORIZONTAL NAVIGATION **/
#nav-primary {
  background-color: #8222DA;
  background-image: url("./images/broken-noise.png");
  box-shadow: 1px 1px 14px black;
  z-index: 2;
  position: relative; }
  #nav-primary ul {
    float: right; }

.horizontal-nav li {
  float: left;
  margin: 0 20px;
  list-style-type: none;
  margin: 0; }

#nav-primary .horizontal-nav ul {
  margin: 0; }
#nav-primary .horizontal-nav li a {
  font-size: 1.9rem;
  padding: 15px;
  background: #7014C5;
  display: block;
  text-align: center;
  height: 20px;
  width: 100px;
  line-height: 20px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  border-right: 1px solid #323235;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background: #7014C5;
  background-image: url("./images/broken-noise.png");
  background-image: url("./images/broken-noise.png"), -moz-linear-gradient(top, #A75AEE, #7014C5);
  background-image: url("./images/broken-noise.png"), -ms-linear-gradient(top, #A75AEE, #7014C5);
  background-image: url("./images/broken-noise.png"), -webkit-linear-gradient(top, #A75AEE, #7014C5);
  background-image: url("./images/broken-noise.png"), linear-gradient(top, #A75AEE, #7014C5);
  -webkit-box-shadow: inset 0 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  -moz-box-shadow: inset 0 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
  box-shadow: inset 0 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929; }
  #nav-primary .horizontal-nav li a:hover {
    background: #A75AEE;
    background-image: url("./images/broken-noise.png");
    background-image: url("./images/broken-noise.png"), -moz-linear-gradient(top, #7014C5, #A75AEE);
    background-image: url("./images/broken-noise.png"), -ms-linear-gradient(top, #7014C5, #A75AEE);
    background-image: url("./images/broken-noise.png"), -webkit-linear-gradient(top, #7014C5, #A75AEE);
    background-image: url("./images/broken-noise.png"), linear-gradient(top, #7014C5, #A75AEE);
    color: white; }

/*******************************************************/
/** CUSTOM SHIT **/
.wrapper {
  display: inline-block; }

.page-wrapper {
  min-height: 100%; }

.logo {
  margin: 10px 0; }
  .logo h2 {
    margin: 0; }
    .logo h2 a {
      color: white;
      text-shadow: black 1px 1px 6px; }

#tagline {
  color: #b9abab;
  margin: 0;
  font-style: italic;
  font-size: 1.3rem; }

.galaxy {
  background-image: url("./images/galaxy_ban@2x.jpg"); }

.hero {
  height: 600px;
  text-align: center;
  font-size: 4.0rem;
  color: white; }
  .hero p {
    padding: 0;
    font-size: 4rem; }

.main-content {
  background: white; }

#special-txt {
  margin-left: 35px; }

a.ghost-btn:hover {
  border-color: #8222DA;
  color: #8222DA; }

.designs > article {
  background: white;
  width: 400px;
  height: 250px;
  float: left;
  margin: 0 11px 43px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px #a5a5a5; }
  .designs > article .index-thumbnail {
    width: 100%;
    height: 137px;
    display: block;
    background-size: 102%;
    text-align: center; }
  .designs > article:nth-of-type(3n+1) {
    margin-left: 0; }
.designs.type-designs {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center; }
  .designs.type-designs > article {
    width: 100%;
    height: auto;
    display: block; }

/*******************************************************/
/** HOME PAGE **/
.home.page {
  background: white; }

/*******************************************************/
/** KITTY JUMP **/
#wrapper {
  position: relative;
  margin: 0 auto; }

#game {
  background: url("images/kitty_bg.jpg");
  display: block;
  position: absolute;
  z-index: 1;
  /*background-size: cover;*/ }

#start, #game-over, #pause {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 2;
  color: black; }

#start {
  color: black; }

#start p, #start ol {
  padding: 10px 40px; }

#game-over {
  visibility: hidden; }

#pause {
  visibility: hidden; }

.butt {
  padding: 11px 23px;
  text-decoration: none;
  color: black;
  font-size: 16px; }

.butt-good {
  background: #56d1cc;
  border: 1px solid #04b4ad; }

.butt-exit {
  background: #ee7575;
  border: 1px solid #bb3a3a; }

.invisible {
  visibility: hidden !important; }

.visible {
  visibility: visible !important; }

.wrapper-hr {
  padding: 50px 76px 0px 90px; }

.wrapper-xs {
  padding: 0 190px; }

.rt-butt {
  right: 130px;
  position: absolute; }

.lt-butt {
  position: absolute;
  left: 130px; }

.txt-center {
  text-align: center; }

.center-blk {
  margin: 0 auto;
  display: block; }

.wd-100 {
  width: 100px; }

p {
  font-size: 16px; }

.float-lt {
  float: left; }

.float-rt {
  float: right; }

/*******************************************************/

/*# sourceMappingURL=style.css.map */
